#
# Actions CPU si or isp driver and the camera sensors of Actions support 
#
# 

config GS5604
	tristate "GS5604 camera sensor driver"
	depends on VIDEO_V4L2 && I2C
	help
	  Support for GS5604 camera

	  To compile this driver as a module, choose M here: the
	  module will be called GS5604.