allow mediaserver system_data_file:dir create_dir_perms;
allow mediaserver system_data_file:file create_file_perms;
allow mediaserver system_server:unix_stream_socket { connectto read write setopt };

allow mediaserver untrusted_app:dir r_dir_perms;
allow mediaserver untrusted_app:file r_file_perms;
