android/out*
owl/out*
.git
.config
*.bak
android/device/actions/lemaker_guitar_bbb/bootbin
android/device/actions/lemaker_guitar_bbb_plus/bootbin
owl/s500/burn/burn.bin
android/device/actions/lemaker_guitar_bbb_plus/config/recovery/atc260x-adckeypad.ko
.config
android/device/actions/common/packages/AndroidPcba

