on post-fs-data
mkdir /data/misc/eth0 0770 wifi wifi
mkdir /data/misc/wif0/sockets 0770 wifi wifi
mkdir /data/misc/dhcp 0770 dhcp dhcp
chown dhcp dhcp /data/misc/dhcp


service dhcpcd_eth0 /system/bin/dhcpcd -aABDKL
    class late_start
    disabled
    oneshot
    
    
service iprenew_eth0 /system/bin/dhcpcd -n
    class late_start
    disabled
    oneshot

