#
# Actions CPU si or isp driver and the camera sensors of Actions support 
#
# 

config GC2145
	tristate "gc2145 camera sensor driver"
	depends on VIDEO_V4L2 && I2C
	help
	  Support for gc2145 camera

	  To compile this driver as a module, choose M here: the
	  module will be called gc2145.