config NET_VENDOR_ACTS
	tristate "Actions Ethernet driver"
	default m
	---help---
		enable Actions Semi 520X ethernet driver
config POLL_PHY_STATE
	tristate "Phy state check"
	default n
	---help---
		poll the phy's sate
config PHY_REALTEK_RTL8201
	tristate "phy type"
	default n
	---help---
		use the phy as realtek rtl8201
config PHY_CORECHIP_SR8201G
	tristate "phy type"
	default n
	---help---
		use the phy as corechip sg8201g
