/dts-v1/;

/include/ "actduino.dtsi"
#include <dt-bindings/input/input.h>

/ {
	model = "Actions GS705A board";
	compatible = "actions,gs705a", "actions,atm7059a";

	clock:0b0160000 {
		compatible = "actions,owl-clk";
		core_pll = <0x332>;
		dev_pll = <0x1164>;
		bus_pll = <0x1c710000>;
		display_pll = <0x164>;
		bus1_pll = <0x2e004>;
		clk_spead = <0x0>;
	};
	
	gpio_int {
		initgpio_A=<23 0 0>,<25 0 0>;/*<x1,x2,x3>,x1=PIN,x2=(0=OUT,1=IN),x3=IOVAL*/
		initgpio_B=<1 0 0>,<23 0 0>;
	};
    
	reserved {
		tiny {
			fb_heap_size = <4>;
			kinfo_heap_size = <1>;
			carveout_heap_size = <40>;
			dma_heap_size = <128>;
		};
		normal {
			fb_heap_size = <8>;
			kinfo_heap_size = <1>;
			carveout_heap_size = <244>;
			dma_heap_size = <98>;
		};
	};
	
	pinctrl@b01b0040 {
		pinctrl-names = "default";
		pinctrl-0 = <&state_default>;

		state_default: pinctrl_default {
		};

		i2c0_state_default: i2c0_default {/* i2c0 use default pin	*/
			i2c0_default_mfp {
				actions,groups = "mfp3_18_16";
				actions,function = "i2c0";
			};

			i2c0_default_paddrv {
				actions,groups = "paddrv2_24_23";
				actions,paddrv = <0>;/*level 1*/
			};

			i2c0_default_pull_up {
				actions,pins = "P_I2C0_SCLK","P_I2C0_SDATA";
				actions,pull = <2>; /*pull up*/
			};
		};

		i2c0_state_over_uart0: i2c0_over_uart0 {/* i2c0 use uart0 pin	*/
			i2c0_over_uart0_mfp {
				actions,groups = "mfp2_2_0", "mfp3_21_19";
				actions,function = "i2c0";
			};

			i2c0_over_uart0_paddrv {
				actions,groups = "paddrv2_31_30","paddrv2_29_28";
				actions,paddrv = <0>;/*level 1*/
			};

			i2c0_over_uart0_pull_up {
				actions,pins = "P_UART0_RX","P_UART0_TX";
				actions,pull = <2>; /*pull up*/
			};
		};	

		i2c1_state_default: i2c1_default {/* i2c1 use default pin	*/
			i2c1_default_mfp {
				actions,groups = "i2c1_dummy";
				actions,function = "i2c1";
			};

			i2c1_default_paddrv {
				actions,groups = "paddrv2_22_21";
				actions,paddrv = <0>;/*level 1*/
			};

			i2c1_default_pull_up {
				actions,pins = "P_I2C1_SCLK","P_I2C1_SDATA";
				actions,pull = <0>;	/*stay disabled*/
			};
		};

		i2c2_state_default: i2c2_default {/* i2c2 use default pin*/
			i2c2_default_mfp {
				actions,groups = "i2c2_dummy";
				actions,function = "i2c2";
			};

			i2c2_default_paddrv {
				actions,groups = "paddrv2_22_21";
				actions,paddrv = <0>;/*level 1*/
			};

			i2c2_default_pull_up {
				actions,pins = "P_I2C2_SCLK","P_I2C2_SDATA";
				actions,pull = <2>; /*pull up*/
			};
		};
		
		i2c3_state_over_spi0: i2c3_over_spi0 {/* i2c3 use spi0 pin	*/
			i2c3_over_spi0_mfp {
				actions,groups = "mfp1_4_3";
				actions,function = "i2c3";
			};

			i2c3_over_spi0_paddrv {
				actions,groups = "paddrv1_11_10";
				actions,paddrv = <0>;/*level 1*/
			};

			i2c3_over_spi0_pull_up {
				actions,pins = "P_SPI0_SCLK","P_SPI0_MOSI";
				actions,pull = <2>; /*pull up*/
			};
		};				

		pwm0_state_default: pwm0_default {
			pwm0_mfp {
				actions,groups = "mfp1_31_29_ks_in2";
				actions,function = "pwm0";
			};
		};

		pwm1_state_default: pwm1_default {
			pwm1_mfp {
				actions,groups = "mfp1_28_26_ks_in3";
				actions,function = "pwm1";
			};
		};
		
		pwm2_state_default: pwm2_default {
			pwm2_mfp {
				actions,groups = "mfp1_25_23";
				actions,function = "pwm2";
			};
		};
		
		pwm3_state_default: pwm3_default {
			pwm3_mfp {
				actions,groups = "mfp1_28_26_ks_out1";
				actions,function = "pwm3";
			};
		};
		
		lvds_state_default: lvds_default {
			lvds_mux {
				actions,groups = "mfp1_22_21", "mfp1_6_5", "mfp2_28_27";
				actions,function = "lvds";
			};
		};
		rgb_state_default: rgb_default {
			rgb_mux {
				actions,groups = "mfp0_25_23","mfp1_16_14", "mfp1_22_21", "mfp1_13_12", "mfp1_11_10", "mfp1_6_5", "mfp2_30_29", "mfp2_28_27";
				actions,function = "lcd0";
			};
		};
		
		dsi_state_default: dsi_default {
			dsi_mux {
				actions,groups = "mfp1_20_19", "mfp1_18_17", "mfp1_13_12", "mfp1_11_10", "mfp1_9_7", "mfp2_30_29";
				actions,function = "dsi";
			};
		};
	};

	i2c@b0170000 {
		i2c_num = <0>;
		clock-frequency = <400000>;
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&i2c0_state_default>;
		#address-cells = <1>;
		#size-cells = <0>;	
		
		/* atc2603c (5307) */
		atc260x: atc2603c@65 {
			compatible = "actions,atc2603c";
			reg = <0x65>;
			interrupt-parent = <&sirq>;
			interrupts =< 2 0x4 >;
			interrupt-controller;
			#interrupt-cells = <1>;

			atc260x-adckeypad{
			    compatible = "actions,atc2603c-adckeypad";
                            adc_channel_name = "AUX0";          /* the ADC channel used for sampling, valid names are REMCON AUX0 AUX1 AUX2 (AUX3) */
                            keymapsize = <4>; /* number of ADC key */
                            left_adc_val =  <0 90 175 270>;     /* for key code translator, each value defines a lower bound of ADC value of a key */
                            right_adc_val = <30 120 220 320>;   /* for key code translator, each value defines a upper bound of ADC value of a key */
                            key_val = <KEY_HOME KEY_MENU KEY_VOLUMEUP KEY_VOLUMEDOWN>; /* for key code translator, each value defines the key_code of a key */
                        };

			atc260x-power{
				compatible = "actions,atc2603c-power";
				support_adaptor_type = <3>;      /*1: DCIN  2: USB  3:DCIN+USB*/
				support_minicharger = < 1 >;	/* 1:support minicharer  0:do not support minicharger */  
			};
		};
	};

	i2c@b017c000 {
		i2c_num = <3>;
		clock-frequency = <400000>;
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&i2c3_state_over_spi0>;
		eg2801_eeprom@14 {
			compatible ="actions,eg2801_eeprom";
			reg = <0x14>;
		};

		eg2801_ram@55 {
			compatible ="actions,eg2801_ram";
			reg = <0x55>;
		};
		
		hdmi_read_edid@30 {
			compatible = "actions,hdmi_read_edid";
			reg = <0x30>;
		};	
	};

	spi@b0200000 {
		status = "disabled";
	};

	spi@b0204000 {
		status = "disabled";
	};
	
	spi@b0208000 {
		status = "disabled";
	};

	spi@b020c000 {
		status = "disabled";
	};

	gpio@b01b0000 {
		status = "okay";
	};

	mmc@b0230000 {
		status = "okay";
	};

	mmc@b0234000 {
		status = "disabled";
	};

	mmc@b0238000 {
		status = "okay";
	};
	
	monitor {
		compatible = "actions,atm7059tc-usbmonitor";
		vbus_otg_en_gpios = <&gpio 37 1>;  /* GPIOB5,  0: low active; 1: high active */
		status = "okay";
	};

	framebuffer {
		compatible = "actions,framebuffer";
		def_display  = "hdmi";
		xres=<1280>;
		yres=<720>;
		bpp = <4>; 
	};

		
	lcd0: lcd0@b02a0000 {
		status = "disabled";
	};

	dsi: dsi@b0220000 {
		status = "disabled";
	};

	hdmi:hdmi@b02c0000{
		hdcp_onoff = <0>;
		channel_invert = <0>;
		bit_invert = <0>;
		bootable = <1>;
		i2cbus = <3>; 
		bootrotate = <0>;   
		default_resolution = "auto";
	};
	
	cvbs:cvbs@b02b0000{  
		default_mode = "PAL";
		bootable = <1>; 
		bootrotate = <0>; 
		hotplugable = <1>;
		status="okay";
	};

	pwm: pwm@b01b0050 {
		pwm0 {
			id = <0>;
			pinctrl-names = "default";
			pinctrl-0 = <&pwm0_state_default>;
		};
		pwm1 {
			id = <1>;
			pinctrl-names = "default";
			pinctrl-0 = <&pwm1_state_default>;
		};
		pwm2 {
			id = <2>;
			pinctrl-names = "default";
			pinctrl-0 = <&pwm2_state_default>;
		};
		pwm3 {
			id = <3>;
			pinctrl-names = "default";
			pinctrl-0 = <&pwm3_state_default>;
		};
	};

	ethernet@b0310000 {
		compatible = "actions,owl-ethernet";
		phy_addr = <3>;
		status = "okay";
		phy-reset-gpios = <&gpio 88 1>; /* GPIOC24 */
	};

	backlight {
		/*1.pwm num; 2. period in ns; */
		/*3.plarity, 0: high active, 1: low active*/
		backlight_en_gpios = <&gpio 128 0>; /*GPIOE0*/ 
		pwms = <&pwm 0 50000 1>;
		total_steps = <1024>;
		min_brightness = <250>;
		max_brightness = <1000>;
		dft_brightness = <600>;
		delay_bf_pwm  = <200>;
		delay_af_pwm  = <10>;	
	};

	pmu {
		ldo_cfgs_1 = <0x7>;
	};
};
