#
# Actions usb2.0 controllers configuration
#

config USB_AOTG
	tristate "Actions usb2.0 otg support"
	default y
	---help---
	  The Actions chips have USB2.0 otg controllers. Enable
	  this option if your board uses this chip. If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called acts_usb.