allow servicemanager system_data_file:dir r_dir_perms;
allow servicemanager system_data_file:file r_file_perms;
allow servicemanager init:dir r_dir_perms;
allow servicemanager init:file r_file_perms;
