#
# Input misc drivers configuration
#
menuconfig INPUT_MAGSENSOR
	bool "Magsensor devices"
	help
	  Say Y here, and a list of miscellaneous input drivers will be displayed.
	  Everything that didn't fit into the other categories is here. This option
	  doesn't affect the kernel.

	  If unsure, say Y.

if INPUT_MAGSENSOR

config MAGSENSOR_MC6420
	tristate "magsensor mc6420 support"
	depends on I2C
	help
	  Support the magsensor mc6420 as an input device

	  To compile this driver as a module, choose M here: the module
	  will be called mc6420.

endif
