on post-fs
#    write /sys/class/leds/led_charger/brightness 0

	# TESTCODE : disable S2
  #  write /sys/power/wake_lock 1
	

    insmod /misc/modules/flashlight.ko

    insmod /misc/modules/ethernet.ko
    #vibrate
    insmod /misc/modules/act_vibrate.ko
  
    #tp
#    insmod /misc/modules/ctp_gsl1680f.ko
    
    #gyro&gsensor&mag
#    insmod /misc/modules/gyrosensor_inv_mpu6515_iio.ko

#	adckeypad
	insmod /misc/modules/atc260x-adckeypad.ko
	
    #irkey
    insmod /misc/modules/atc260x-irkeypad.ko

#	insmod /misc/modules/gsensor_mc3232.ko

   start insmod_gsensor
   wait /dev/input/event2

    #tp
    start insmod_ctp

    setprop service.adb.tcp.port 5555    

    #lightsensor
#    insmod /misc/modules/lightsensor_ltr301.ko

    insmod /misc/modules/hdmi.ko
    write /sys/class/switch/hdmi/status 1
    
    #camera
    #insmod /misc/modules/bisp.ko
    #insmod /misc/modules/gc2035.ko
    #insmod /misc/modules/gc0308.ko
    #insmod /misc/modules/owl_camera.ko
    
    #camera auto-detect
    start insmod_camera
    wait /sys/rear_camera/status
    
    setprop ro.bt.useusb0 "1" 
    # bluetooth
#	insmod /misc/modules/rfkill-actions_bcmdhd.ko
	insmod /misc/modules/rfkill-actions_8723bs.ko
	insmod /misc/modules/bt_rtl.ko
    # permissions for bluetooth.
    setprop ro.bt.bdaddr_path "/factory/bluetooth/bt_addr"
    
	chown bluetooth bluetooth ro.bt.bdaddr_path
	chmod 0666 /dev/ttyS2
	chown bluetooth bluetooth /dev/ttyS2
	chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
	chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
	chmod 0766 /sys/class/rfkill/rfkill0/state

	chmod 0777 /dev/ttyS*

    #bcm prealloc
#    insmod /misc/modules/bcmdhd_prealloc.ko

    #mkdir /data/camera for camcorder_profiles.xml
    mkdir /data/camera 0755 media media
service insmod_gsensor /insmod_gsensor.sh
    class modules
    oneshot

service bbaSelect /LMKBoardSelect.sh bba
    class modules
    oneshot

service bbbSelect /LMKBoardSelect.sh bbb
    class modules
    oneshot

service bbbplusSelect /LMKBoardSelect.sh bbbplus
    class modules
    oneshot

service bbcSelect /LMKBoardSelect.sh bbc
    class modules
    oneshot

service bbdSelect /LMKBoardSelect.sh bbd
    class modules
    oneshot

service insmod_camera /insmod_camera.sh
    class modules
    oneshot

service cp_vendor /cp_vendor_app.sh  &
    class main
    oneshot
    
service insmod_ctp /insmod_ctp.sh
    class modules
    oneshot

service eth0_up /LMKNetwork.sh eth0 start
    class modules
    oneshot

service eth0_up_static /LMKNetwork.sh eth0  start_static
    class modules
    oneshot

service eth0_down /LMKNetwork.sh eth0 down
    class modules
    oneshot

service eth1_up /LMKNetwork.sh eth1 start
    class modules
    oneshot

service eth1_up_static /LMKNetwork.sh eth1  start_static
    class modules
    oneshot

service eth1_down /LMKNetwork.sh eth1 down
    class modules
    oneshot

service hdmiup /LMKNetwork.sh hdmi
    class modules
    oneshot

service speakup /LMKNetwork.sh speak
    class modules
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot system

service iprenew_bt-pan /system/bin/dhcpcd -n
    class main
    disabled
    oneshot system

on charger
     # start charger, load 
    class_start charger
