/dev/ttyS2                0660   root       root
/dev/ion                  0666   system     system
/dev/video*               0660   media      camera
/dev/de                   0640   system     system
/dev/hdmi                 0640   system     system
/dev/cvbs                 0640   system     system
/dev/vce                  0660   media      camera
/dev/stpwmt               0660   system     system
/dev/wmtWifi              0666   root       root
/dev/stpgps               0660   root       root
/dev/gps                  0666   root       root
/dev/bthwctl              0666   root       root
/dev/rtk_btusb            0666   root       root      
/dev/graphics/*           0660   root       graphics
/dev/ttyUSB*		  0666   radio      radio
/dev/ttyUSB0		  0666   radio      radio
/dev/ttyUSB1		  0666   radio      radio
/dev/ttyUSB2		  0666   radio      radio
/dev/ppp                  0660   radio      vpn
/dev/vde                  0666   media      camera
/dev/mali0                0666   root       root
/dev/pvrsrvkm             0666   root       root
/dev/bisp                 0660   media      camera
/dev/dbgdrv               0666   root       root
/dev/block/mmcblk0p1           0660   system     system
/dev/motor0               0660   media      camera
/dev/performance       0660   system     system
/dev/dc_owl 0666 root root
/dev/nvhost-ctrl 0666 root root
/dev/ppm_owl       0660   system     system
/dev/dvfs       0644   system     system
/sys/devices/system/cpu/cpu*   cpufreq/scaling_governor   0664  system system