#
# Actions CPU si or isp driver and the camera sensors of Actions support 
#
# 

config SP2519
	tristate "sp2519 camera sensor driver"
	depends on VIDEO_V4L2 && I2C
	help
	  Support for sp2519 camera

	  To compile this driver as a module, choose M here: the
	  module will be called sp2519.